body {
  margin: 100px 20px;
  background: linear-gradient(to bottom, rgb(10, 10, 10), rgb(64, 64, 64));
  margin-bottom: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#home {
  margin-top: 40px;
  color: rgb(255, 255, 255);
}

.rounded-circle {
  cursor: pointer;
  object-fit: cover;
  transition: all 0.3s ease-in;
}

.rounded-circle:hover {
  transform: scale(1.1);
}

#home p,
h6 {
  margin: 50px 0px 0px 0px;
  text-shadow: 2px 2px 2px green;
}

#menu {
  margin: 50px;
  justify-content: center;
  text-align: center;
}

#menu h4 {
  color: white;
  text-shadow: 2px 2px 5px rgb(255, 0, 0);
}

#menu a,
h5 {
  color: black;
  text-shadow: 2px 2px 5px blue;
}

#menu img {
  margin-left: 20px;
}

h2 {
  margin: 40px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px green;
}

.card {
  background: linear-gradient(to left, rgb(255, 0, 0), rgb(255, 255, 255));
  max-width: 100%;
  max-height: 100%;
  display: flex;
}

.card h5 {
  color: white;
}

.card:hover {
  background: linear-gradient(to right, rgb(0, 38, 255), rgb(255, 255, 255));
}
